

body{

    background-color: #2BAE66FF ;
    max-width: 450px;
    margin: auto;
}

h1{

    color: #FCF6F5FF;
    font-family: 'Garamond', sans-serif ;
}

h3{
    color: #f4c245;
    font-family: 'Garamond', sans-serif ;
}

p{font-family: 'Garamond', sans-serif;
color: white;
}



.chart{
    width: 330px;
    border-width: 10px;
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    margin: auto;


}

