

body{

    background-color: #990011FF ;
    max-width: 360px;
    margin: auto;
    line-height:1.6em;
}

h1{

    color: #FCF6F5FF;
    font-family: 'Bookman Old Style', serif ;
}

h3{
    color: #f4c245;
    font-family: 'Garamond', sans-serif ;
}

p{font-family: 'Garamond', sans-serif;
color: white;
}



.chart{
    width: 330px;
    border-width: 10px;
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    margin: auto;


}

